<h1>Checks#show</h1>
<p>Find me in app/views/checks/show.html.erb</p>

<%= form_tag(checks_index_path, method: :get) do %>
<input type="file" id="selectFileSample1" />
<input id="selectFileSample2" type="button" name="selectFileSample2" value="値取得" /><input id="selectFileSample3" type="text" name="selectFileSample3" value="" size="50" />
<input type="submit" value="CHECK">
<% end %>
